{
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "strict",
	"embeddedLanguageFormatting": "auto",
	"singleAttributePerLine": true
}
